/* HEADINGS ------------------------------------- */
h1,
h2,
h3 {
  color: white;
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  text-align: center;
}
h1 .highlight,
h3 .highlight {
  color: var(--qwik-light-blue);
}

h2 {
  font-weight: 400;
  font-size: 2.4rem;
}
h2 .highlight {
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.4rem;
  }
  h3 {
    font-size: 3rem;
  }
}

ul {
  margin: 0;
  padding-left: 20px;
}

/* CONTAINER ------------------------------------ */
.container {
  margin: 0 auto;
  padding: 30px 40px;
}

.container.container-center {
  text-align: center;
}

.container.container-spacing-xl {
  padding: 50px 40px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 50px 80px;
  }
  .container.container-spacing-xl {
    padding: 100px 60px;
  }
  .container.container-flex {
    display: flex;
    justify-content: center;
    gap: 60px;
  }
}
